*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
input textarea { user-select: text;}
h1, h2, h3, h4, h5, h6, p {margin-bottom: 6px;}
ol, ul, dl { list-style-position: inside;}

html {
  font: 10pt "メイリオ";
  body {
    color: #444; background: #888;
    a {
      text-decoration: none;
      &:link, &:visited { color: inherit;}
      &:hover { text-decoration: underline;}
    }
    strong { font-weight: 800; color: #000;}
  }
}

#spa {
  position: absolute;
  top: 8px; left: 8px;
  bottom: 8px; right: 8px;

  min-height: 500px;
  min-width: 500px;
  overflow: hidden;

  border-radius: 0 8px 0 8px;
  background: #fff;

  .head {
    position: absolute;
    top: 0; right: 0;
    left: 0; bottom: 0;
    height: 40px;
    
    .logo {
      position: absolute;
      top: 4px; left: 4px;
      height: 32px; width: 128px;
      background: orange;
    }

    .acct {
      position: absolute;
      top: 4px; right: 0;
      height: 32px; width: 64px;
      background: green; color: #fff;
    }

    .search {
      position: absolute;
      top: 4px; right: 64px;
      width: 248px; height: 32px;
      background: blue; color: #fff;
    }
  }
  .main {
    position: absolute;
    top: 40px; left: 0;
    bottom: 40px; right: 0;
    
    .nav {
      position: absolute;
      top: 0; bottom: 0;
      width: 250px;
      background: #eee;
    }
    .content {
      position: absolute;
      top: 0; bottom: 0;
      left: 250px; right: 0;
      background: #ddd;
    }
  }
  .foot {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 40px;
  }
  .modal {
    display: none;
    margin-top: -200px;
    margin-left: -200px;
    position: absolute;
    top: 50%; left: 50%;
    width: 400px; height: 400px;
    background: #fff;
    border-radius: 3px;
    z-index: 2;
  }
}

.x-closed {
  width: 0; height: 0;
}
