@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

input textarea {
  user-select: text;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 6px;
}

ol, ul, dl {
  list-style-position: inside;
}

html {
  font: 10pt "メイリオ";
}

html body {
  color: #444;
  background: #888;
}

html body a {
  text-decoration: none;
}

html body a:link, html body a:visited {
  color: inherit;
}

html body a:hover {
  text-decoration: underline;
}

html body strong {
  font-weight: 800;
  color: #000;
}

#spa {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  border-radius: 0 8px 0 8px;
  background: #fff;
}

#spa .head {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 40px;
}

#spa .head .logo {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 32px;
  width: 128px;
  background: orange;
}

#spa .head .acct {
  position: absolute;
  top: 4px;
  right: 0;
  height: 32px;
  width: 64px;
  background: green;
  color: #fff;
}

#spa .head .search {
  position: absolute;
  top: 4px;
  right: 64px;
  width: 248px;
  height: 32px;
  background: blue;
  color: #fff;
}

#spa .main {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
}

#spa .main .nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #eee;
}

#spa .main .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  background: #ddd;
}

#spa .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#spa .modal {
  margin-top: -200px;
  margin-left: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
  z-index: 2;
}

#spa .slider {
  position: absolute;
  bottom: 0;
  right: 2px;
  width: 300px;
  height: 16px;
  cursor: pointer;
  border-radius: 8px 0 0 0;
  background: #f00;
}

.x-closed {
  width: 0;
  height: 0;
}
