html("ja")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='imgs/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(href="css/etc.css", rel="stylesheet")
    title 練習
  body
    .wrap
      div One
      div Two
      div Three
      div Four
        br
        | This cell
        br
        | Has extra
        br
        | content.
        br
        | Max is auto
        br
        | so the row expands.
      div Five