<!DOCTYPE html>
html(lang='ja')
  head
    meta(charset="utf-8")
    title ソケットの実験
    link(rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon")
    script(src="lib/jquery-1.9.1.js")
    script(src="/socket.io/socket.io.js")
    script(src="soc.js")
    script(src="use.js")
  body Loding...


    
