extends ref/layout

block css
  link(href="css/spa.css", rel="stylesheet")
  link(href="css/slider.css", rel="stylesheet")
  link(href="css/avatar.css", rel="stylesheet")
block script
  script(src="lib/taffydb-2.6.2.js")
  script(src="lib/jquery-1.9.1.js")
  script(src="lib/jquery.uriAnchor-1.1.3.js")
  script(src="lib/jquery.event.gevent-0.1.9.js")
  script(src="lib/jquery.event.ue-0.3.2.js")
  script(src="js/avatar_util.js")
  script(src="js/avatar.js")
  script(src="js/fake.js")
  script(src="js/model_util.js")
  script(src="js/model.js")
  script(src="js/slider_util.js")
  script(src="js/slider.js")
  script(src="js/spa.js")
  title 再びのSPA
block content
  #spa
    header
      .logo
        h1 SPA
        p javascript ent to end
      .search
        form(action="search" method="post")
          input(type="text" name="search" placeholder="SEARCH")
          input(type="submit" value="検索")
      .acct
    nav nav
    article article
    footer footer
    .slider
      .head
        .toggle +
        .title Chat
        .closer x
      .list
      .msg
      .form
        input(type="text", tabindex="0")
        .send(tabindex="0") Send
    .modal modal