// @import "ref/mixins";

@mixin abs_pos($t:0, $r:0, $b:0, $l:0){
  position: absolute;
  top: $t; right: $r; bottom: $b; left: $l;
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
input textarea { user-select: text;}
h1, h2, h3, h4, h5, h6, p {margin-bottom: 6px;}
ol, ul, dl { list-style-position: inside;}

html {
  font: 10pt "メイリオ";
  body {
    color: #444; background: #888;
    a {
      text-decoration: none;
      &:link, &:visited { color: inherit;}
      &:hover { text-decoration: underline;}
    }
    strong { font-weight: 800; color: #000;}
  }
}

#spa {
  @include abs_pos(8px, 8px, 8px, 8px);
  min: {height: 15em; width: 35em;}
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background: #fff;

  .head {
    @include abs_pos; height: 40px;
    
    .logo {
      @include abs_pos(4px, null, null, 8px);
      height: 32px; width: 128px;
      h1 { font: 800 22px/22px Arial; margin: 0;}
      p  { font: 800 10px/10px Arial; margin: 0;}
    }
    .search {
      @include abs_pos(4px, 220px, null, null);
      text-align: center; line-height: 2.5;
      height: 32px; width: 248px; background: blue; color: #fff;
    }
    .acct {
      @include abs_pos(4px, 0, null, null);
      height: 32px; width: 210px;
      background: #888; color: #fff;
      text-align: center; cursor: pointer;
      line-height: 2.5;
      overflow: hidden; text-overflow: ellipsis;
    }
  }
  .main {
    position: absolute;
    top: 40px; left: 0;
    bottom: 40px; right: 0;
    
    .nav {
      position: absolute;
      top: 0; bottom: 0;
      width: 250px;
      background: #eee;
    }
    .content {
      position: absolute;
      top: 0; bottom: 0;
      left: 250px; right: 0;
      background: #ddd;
    }
  }
  .foot {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 40px;
  }
  .modal {
    display: none;
    margin-top: -200px;
    margin-left: -200px;
    position: absolute;
    top: 50%; left: 50%;
    width: 400px; height: 400px;
    background: #fff;
    border-radius: 3px;
    z-index: 2;
  }
}

.x-closed {
  width: 0; height: 0;
}
