html("ja")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='imgs/favicon.ico' rel='shortcut icon' type='image/x-icon')
    link(href="css/etc.css", rel="stylesheet")
    title 練習
  body
    figure
      img(src="imgs/稲毛駐車場.jpg")
      figcaption 稲毛駐車場